
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.tabs-container {
  width: 80%;
  margin: 50px auto;
}

.tabs {
  display: flex;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.tab:hover {
  background-color: #ddd;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.form {
  display: none;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text], input[type=datetime-local],
input[type=number],input[type=radio],select{
  width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	cursor:pointer;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #28712c;
}


.error {
  color: red;
}