
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  }
/*Top Nav Bar*/
.logo {
  display: flex;
  align-items: center; 
}

.logo p {
  color: #0C479D;
  font-weight:800;
  font-size: 32px;
  margin-left: 40px; 
}

.logo img {
  width: 75px;
  height: 75px;
}

nav{
height:90px;
display:flex;
align-items: center;
justify-content: space-between;
padding:30px 55px;
background-color: #ffffff;
z-index: 2;
}

.nav-links{
display:flex;
align-items: flex-end;
}

.nav-links li a{
color:#7A7A7A;
font-weight:550;
font-size: 24px;
margin:5px 15px;
text-decoration: none;
}

.nav-links li a:hover,
.nav-links li a.active{
color:#0C479D;
text-decoration: none;
}

/*Hamburger*/
.hamburger{
margin-left:20px;
cursor:pointer;
display:none;
} 

.hamburger div{
width:30px;
height:2px;
margin:6px 0;
background:#7A7A7A;
}

@media only screen and (max-width: 768px) {

nav{
  position:relative;
  padding:0 20px;
  z-index:2;
}

.hamburger{
  display:block;
} 

.nav-links{
  margin:0;
  position:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap:20px;
  height:auto;
  top:-250%; 
  left:0;
  width: 100%;
  padding:30px;
  transition: 0.3s slide-down;
}

.nav-links.active{
  opacity:0.9;
  top:90px;
  background-color:#ffffff;
}

@keyframes slide-down{
  0%{
    top:-250%;
    opacity: 0;
  }

  50%{
    top:0%;
    opacity:0.1;
  }

  75%{
    top:25px;
    opacity:0.3;
  }

  100%{
    top:90px;
    opacity:1;
  }

}

.nav-links li a {
  display:block;
  text-align: center;
  color: #7A7A7A;
  font-size: 1.3rem;
  margin:5px 0;
  padding:10px 100px;
  transition: 0.2s;
}

}


/*Body*/
.container{
  margin:50px auto;
}

.sidebar-notif{
  margin:0 auto;
}

.navbar-right {
  float: right ;
  margin-right: -15px;
}

/* sidebar */
.sidebar {
  position: fixed;
  height: 100%;
  background-color: #E8EBEA; 
  transition: left 0.3s ease;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Ensure the button is above other content */
}

/* sidebar items */
.sidebar .bar-item {
  color: #171F30; 
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar .bar-item-close {
  color: white; 
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar .bar-item-close:hover {
  background-color: #DAB6C8; 
}

.sidebar .bar-item:hover {
  background-color: #5389A6;
  font-weight: 800;
  color: white;
  text-align: center;
}

.btnClose {
  background-color: #5389A6; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnClose:hover {
  background-color: #DAB6C8 ; 
}

.btnOpen{
  border-radius: 50%;
  border:none;
  width: 50px;
  height:50px;
  margin:5px;
}
.btnOpen:hover{
  background-color: #5389A6; 
  transition: background-color 0.3s ease;
}

#openNav{
  margin-top:12px;
}

/* right arrow icon */
.sidebar button i {
  font-size: 24px; 
}

/*Right bottom add button */
.addEvent-btn a{
  text-decoration:none;
  color: #fff;
}

.addEvent-btn a:hover{
  text-decoration:none;
  color: #fff;
}

.addEvent-btn {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  font-size: 3em;
  color: #fff;
  background: #db4437;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px #888;
}

.addEvent-btn::after {
  content: 'Create Event';
  font-size: .4em;
  opacity: 0;
  position: absolute;
  left: -76px;
  padding: 3px;
  border-radius: 3px;
  background: #666;
  transition: 0.2s;
}

.addEvent-btn:hover::after {
  opacity: 1;
  left: -96px;
}

/* calendar buttons */
.fc-button {
  background-color: #A6DCEE ;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.fc-button:hover {
  background-color: #5389A6 ;

}

/* today button differently */
.fc-today-button {
  background-color: #65b578;
}

.fc-today-button:hover {
  background-color: #1d632d;
}

/*  prev and next buttons */
.fc-prev-button,
.fc-next-button {
  background-color: #dc3545;
}

.fc-prev-button:hover,
.fc-next-button:hover {
  background-color: #dc3545;
}
/* button text */
.fc-button span {
  font-size: 14px;
  font-weight: bold;
}

 /*Footer*/
 footer {
  color: #0C479D;
  background-color:#0C479D;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size:23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.footer-content {
        display: flex; 
        flex-wrap: wrap; 
        width: 100%; 
}
      
.about,
.contact,
.social-media {
  flex:1;
  text-align: left; 
}      
      .about{
      margin-left:50px;
      }	
      .contact{
        margin-left:175px;  
        margin-right:100px;
      }
      .social-media{
      
        margin-left:50px;
        text-align:center;
      }
      .social-icons{
      font-size:30px;	
      text-align:center;
      }	
      footer a {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        color: #444444;
      }
      
      footer a:hover {
        background-color: white;
        background: transparent;
        color: white;
      }
    