*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    }
/*Top Nav Bar*/
.logo {
    display: flex;
    align-items: center; 
}
  
.logo p {
    color: #0C479D;
    font-weight:800;
    font-size: 2rem;
    margin-left: 40px; 
}
  
.logo img {
    width: 75px;
    height: 75px;
}

nav{
  height:90px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:30px 55px;
  background-color: #ffffff;
  z-index: 2;
}

.nav-links{
  display:flex;
  align-items: flex-end;
}

.nav-links li a{
  color:#7A7A7A;
  font-weight:550;
  font-size: 1.5rem;
  margin:5px 15px;
}

.nav-links li a:hover{
  color:#0C479D;
}

/*Hamburger*/
.hamburger{
  margin-left:20px;
  cursor:pointer;
  display:none;
} 

.hamburger div{
  width:30px;
  height:2px;
  margin:6px 0;
  background:#7A7A7A;
}

@media only screen and (max-width: 768px) {

  nav{
    position:relative;
    padding:0 20px;
    z-index:2;
  }
  .hamburger{
    display:block;
  } 
}


          /*Footer*/
      footer {
        color: #0C479D;
        background-color:#0C479D;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        text-align: center;
        bottom: 0;
        font-family: "Raleway", sans-serif;
        font-size:23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
      }
      
      .footer-content {
        display: flex; 
        flex-wrap: wrap; 
        width: 100%; 
      }
      
      .about,
      .contact,
      .social-media {
        flex:1;
        text-align: left; 
      }
      .about{
      margin-left:50px;
      }	
      .contact{
        margin-left:175px;  
        margin-right:100px;
      }
      .social-media{
      
        margin-left:50px;
        text-align:center;
      }
      .social-icons{
      font-size:30px;	
      text-align:center;
      }	
      footer a {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        color: #444444;
      }
      
      footer a:hover {
        background-color: white;
        background: transparent;
        color: white;
      }
     
  /*Body*/
  .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
  }
  .login{
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    margin: auto;
    padding-bottom: 100px; 
    padding-top: 40px; 
    display: flex; 
    backdrop-filter:blur(80px);
    border-radius: 20px;	
  }
  
  .login h2{
      text-transform: uppercase;
      font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      margin-top: 40px;
      margin-bottom:30px;
      color: #333333;}
  
  .register-link p {
      display: flex;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      color: #333333;
      margin-top: 5px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: 55px;
      }
  
  .login .input-box{
      position:relative;
      width:100%;
      height:70px;
      background:transparent;
      margin:20px 0 50px 0;
  }
  
  .input-box input{
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,0.6);
      border:none;
      outline:none;
      border:2px solid rgba(255,255,255,0.2);
      border-radius:20px;
      font-size:16px;
      color:#fff;
      padding:20px 45px 20px 20px;
  }
  
  .input-box input::placeholder{
      color:white;
  }
  
  .input-box i {
      position:absolute;
      right:20px;
      top:50%;
      transform:translateY(-50%);
      font-size:20px;
      color:white;
  }
  
  .login .remember-forget{
      display:flex;
      justify-content:space-between;
      font-size:16px;
      margin:-15px 0 15px;
  }
  
  .remember-forgot label input {
      margin-right:3px;
  }
  
  .remember-forgot a {
      color: #333333;
      text-decoration:underline;
      margin-left:270px;
  }
  
  .remember-forgot a:hover {
      text-decoration:none;
  }
  
  .login .btn{
      margin-top:50px;
      border: none;
      width:50%;
      color:#ffffff;
      height:55px;
      background:rgba(255,255,255,0.3);
      border:1px solid rgba(0,0,0,0.5);
      outline:none;
      margin: auto;
      margin-top: 10px;
      border-radius:40px;
      display: flex;
       align-items: center;
        justify-content: center;
        padding: 0;
      box-shadow:0 0 10px rgba(0,0,0,0.1);
      cursor:pointer;
      font-size:20px;
      background-color:#0C479D;
      font-weight:500;
      transition: all 1s;
  }
  
  .btn:hover{
      border:2px solid 	#125AC2;
      background-color:	#125AC2;
        color:black;
      
  }
  
  .login .register-link{
      font-size:16px;
      text-align:center;
      margin:20px 0 15px;
  }
  
  .register-link p, .register-link a{
      color: #333333;
      text-decoration:underline;
      font-weight:400;
  }
  
  .register-link p, a:hover{
      text-decoration:none;
  }
  
  .error {
    margin-top: 10px;
	color:red;
  }
  