
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	}
  /*Top Nav Bar*/
  .logo {
	display: flex;
	align-items: center; 
  }
  
  .logo p {
	color: #0C479D;
	font-weight:800;
	font-size: 32px;
	margin-left: 40px; 
  }
  
  .logo img {
	width: 75px;
	height: 75px;
  }
  
  nav{
  height:90px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:30px 55px;
  background-color: #ffffff;
  z-index: 2;
  }
  
  .nav-links{
  display:flex;
  align-items: flex-end;
  }
  
  .nav-links li a{
  color:#7A7A7A;
  font-weight:550;
  font-size: 24px;
  margin:5px 15px;
  text-decoration: none;
  }
  
  .nav-links li a:hover,
  .nav-links li a.active{
  color:#0C479D;
  text-decoration: none;
  }
  
  /*Hamburger*/
  .hamburger{
  margin-left:20px;
  cursor:pointer;
  display:none;
  } 
  
  .hamburger div{
  width:30px;
  height:2px;
  margin:6px 0;
  background:#7A7A7A;
  }
  
  @media only screen and (max-width: 768px) {
  
  nav{
	position:relative;
	padding:0 20px;
	z-index:2;
  }
  
  .hamburger{
	display:block;
  } 
  
  .nav-links{
	margin:0;
	position:fixed;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap:20px;
	height:auto;
	top:-250%; 
	left:0;
	width: 100%;
	padding:30px;
	transition: 0.3s slide-down;
  }
  
  .nav-links.active{
	opacity:0.9;
	top:90px;
	background-color:#ffffff;
  }
  
  @keyframes slide-down{
	0%{
	  top:-250%;
	  opacity: 0;
	}
  
	50%{
	  top:0%;
	  opacity:0.1;
	}
  
	75%{
	  top:25px;
	  opacity:0.3;
	}
  
	100%{
	  top:90px;
	  opacity:1;
	}
  
  }
  
  .nav-links li a {
	display:block;
	text-align: center;
	color: #7A7A7A;
	font-size: 1.3rem;
	margin:5px 0;
	padding:10px 100px;
	transition: 0.2s;
  }
  
  }
 /*Body*/
/*side nav bar*/
.sidebar {
	height: 82%;
  width: 200px;
  padding-top: 50px;
	position:fixed;
	left:0;
	background-color:#e8e8e8;
  opacity: 0.7;
  margin-left:20px;
  margin-bottom: 20px;
  margin-top:20px;
  border-radius: 30px;
 }

.sidebar a {
  display: block;
  color: black;
  font-size: 2vh;
  padding: 16px;
  margin:10px;
	text-decoration: none;
  }

.sidebar a:hover {
  font-weight: bolder;
}

.sidebar a.active{
  background-color: #b3c6e3;
  border-radius: 30px;
}

.btn{
	margin-top:300px;
  margin-left:20px;
}

 #logoutButton, #deleteButton, #resetButton{
  color: black;
  border: none;
  font-size: 1.8vh;
	cursor: pointer;
  padding:10px;

	}
	
#logoutButton:hover, #deleteButton:hover,#resetButton:hover {
	font-weight: bolder;
}

/*main content*/      
.content {
	padding: 10px;
	margin-left:250px;
}


/* edit form */
.edit-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.edit-form-content {
  background-color:rgba(255,255,255,0.6);
	backdrop-filter:blur(20px);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
}

.edit-form-content input[type=text]{
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	}
	
.edit-form-content input[type=number]{
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
 }	

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#updateBtn{
	background-color:#FFFEB3;
	color: #807C4B;
	padding: 12px 16px;
	margin: 20px 8px 8px 8px;
	border: none;
	border-radius: 20px;
	cursor: pointer;

}

#updateBtn:hover {
	font-weight: bolder;
}

#deleteBtn{
	color: #a40f0f;
	border: none;
	cursor: pointer;

}

#deleteBtn:hover {
	font-weight: bolder;
}

.update{
	text-align:center;
}	


/*acc*/

.accContainer{
  display:flex;
  flex:1;
}

.accForm{
  background-color:#e8e8e8d0;
  padding:5vh;
  border-radius: 30px;
  width:800px;
}

h2{
  margin-bottom: 5vh;
  margin-top:1vh;
  font-size: 3vh;
}

.acc label{
	padding:5px;
  font-size: 1.8vh;
}

.acc input[type=text], input[type=password], 
input[type=number], input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0 16px 0;
  font-size: 2vh;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	cursor:pointer;
}

.accPic{
  background-color:#e8e8e8d0;
  padding:5vh;
  border-radius: 30px;
  margin-left:3vh;

}

.profilePic {
  align-items: center;
  padding:28px;
}

.profilePic img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius:50%;
}

.btnPic{
  font: 1.5vh;
  padding:18px 30px;
  display: block;
  margin: auto;
  margin-top: 9vh;
}

.btnPic:hover{
  font-weight: bolder;
}

/*Today*/
.today h3{
  color:#0C479D;
  margin-bottom: 10px;

}

.reminder-box {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
}

.medication {
  background-color: #e3f2fd;
  cursor: pointer;
}

.testing-alert {
  background-color: #fce4ec; 
  cursor: pointer;
}

.appointment {
  background-color: #fff9c4;
  cursor: pointer;
}

.reminder-title {
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 5px;
}

.reminder-details {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 3px;
}

.bx-calendar {
  margin-right: 5px;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 5px;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bx-dots-horizontal-rounded{
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 0; /* Adjust top position to align with top of the dropdown button */
  right: 100%; /* Position the menu to the left of the dropdown button */
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*med*/
div.med-container {
    display: flex;
    flex-wrap: wrap; 
	box-sizing: border-box;
	cursor:pointer;
}

div.med {
	position: relative; /* Set position relative for absolute positioning of the delete button */
    border: 1px solid #ccc;
    padding: 6px;
    margin: 4px;
    flex: 1; /* Distribute available space equally among items */
    max-width: 24.99999%; /* Limit width to fit four items in a row */
    box-sizing: border-box; /* Include padding in the width calculation */
    text-align: center; /* Center the content */ /* Include padding in the width calculation */
}

div.med:hover {
    border: 1px solid #777;
}

div.med img {
    width: 100%;
    height: auto;
}

div.name,
div.desc {
    padding: 15px;
}

div.name {
    text-align: left;
}

div.desc {
    text-align: center;
}
.deleteBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: none; /* Initially hidden */
}

.med:hover .deleteBtn {
    display: block; /* Show delete button on hover */
}

.med:hover .desc,
.med:hover .name,
.med:hover img {
    display: none;
}

@media only screen and (max-width: 900px) {
    div.med {
        max-width: 49.99999%; /* Adjust width for medium-sized screens */
    }
}

@media only screen and (max-width: 500px) {
    div.med {
        max-width: 100%; /* Adjust width for small screens */
    }
}


/*Right bottom add button */
.addMed-btn a,
.addEvent-btn a{
  text-decoration:none;
  color: #fff;
}

.addMed-btn a:hover,
.addEvent-btn a:hover{
  text-decoration:none;
  color: #fff;
}

.addMed-btn,
.addEvent-btn {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  font-size: 3em;
  color: #fff;
  background: #db4437;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px #888;
}

.addMed-btn::after {
  content: 'Create Medicine';
  font-size: .38em;
  opacity: 0;
  position: absolute;
  left: -76px;
  padding: 3px;
  border-radius: 3px;
  background: #666;
  transition: 0.2s;
}

.addEvent-btn::after {
  content: 'Create Reminder';
  font-size: .38em;
  opacity: 0;
  position: absolute;
  left: -76px;
  padding: 3px;
  border-radius: 3px;
  background: #666;
  transition: 0.2s;
}

.addMed-btn:hover::after,
.addEvent-btn:hover::after {
  opacity: 1;
  left: -130px;
}



