
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    }
/*Top Nav Bar*/
.logo {
    display: flex;
    align-items: center; 
}
  
.logo p {
    color: #0C479D;
    font-weight:800;
    font-size: 2rem;
    margin-left: 40px; 
}
  
.logo img {
    width: 75px;
    height: 75px;
}

nav{
  height:90px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:30px 55px;
  background-color: #ffffff;
  z-index: 2;

}

.nav-links{
  display:flex;
  align-items: flex-end;
}

.nav-links li a{
  color:#7A7A7A;
  font-weight:550;
  font-size: 1.5rem;
  margin:5px 15px;
}

.nav-links li a:hover,
.nav-links li a.active{
  color:#0C479D;
}

/*Hamburger*/
.hamburger{
  margin-left:20px;
  cursor:pointer;
  display:none;
} 

.hamburger div{
  width:30px;
  height:2px;
  margin:6px 0;
  background:#7A7A7A;
}

@media only screen and (max-width: 768px) {

  nav{
    position:relative;
    padding:0 20px;
    z-index:2;
  }

  .hamburger{
    display:block;
  } 

  .nav-links{
    margin:0;
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    height:auto;
    top:-250%; 
    left:0;
    width: 100%;
    padding:30px;
    transition: 0.3s slide-down;
  }

  .nav-links.active{
    opacity:0.9;
    top:90px;
    background-color:#ffffff;
  }

  @keyframes slide-down{
    0%{
      top:-250%;
      opacity: 0;
    }

    50%{
      top:0%;
      opacity:0.1;
    }

    75%{
      top:25px;
      opacity:0.3;
    }

    100%{
      top:90px;
      opacity:1;
    }

  }

  .nav-links li a {
    display:block;
    text-align: center;
    color: #7A7A7A;
    font-size: 1.3rem;
    margin:5px 0;
    padding:10px 100px;
    transition: 0.2s;
  }

}

/*BODY*/
/* Style the tab buttons */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
  margin:0 25px;
  display: flex;
}

.tab button {
  flex: 1;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 48px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}


.tab .active {
  background-color: #b7b7b7;
  color: #f1f1f1;
}

/* Styles for tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
 
}

.line_graph{
  width:1500px;
  height:500px;
  margin:0 auto;
}

/*month graph*/
.monthBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.previousBtn{
  padding:20px 30px;
  border:none;
  background-color: #0C479D;
  color: #ffffff;
  cursor: pointer;
  margin:20px;
  border-radius: 15px;

}

.nextBtn{
  padding:20px 30px;
  border:none;
  background-color: #161f2b;
  color: #ffffff;
  cursor: pointer;
  margin:20px;
  border-radius: 15px;
}
/*log*/
.log{
  text-align: center;
  text-decoration: none;
  color: #0C479D;
  padding:20px;
  
}

.log a:hover{
  font-weight: 800;
}


/*Donut*/
.countBS{
  display:flex;
  margin-top: 30px;

}

.chart_donut{
  flex:1;
}

.count{
  flex:1;
  margin-top: 50px;
  margin-left: 100px;

}

.count h2{
  padding:10px;
}

.title{
  padding:20px 20px;
  border-radius: 20px;
  border:1px solid #ccc;
  text-align: center;
  margin-bottom: 30px;
}

#norTitle{
  background-color: #4CAF50;
  position: relative;
  cursor: pointer;
}

#loTitle{
  background-color: #F44336;
  position: relative;
  cursor: pointer;
}

#hiTitle{
  background-color: #FFC107;
  position: relative;
  cursor: pointer;
}


#norTitle:hover::after,
#loTitle:hover::after,
#hiTitle:hover::after {
  content: attr(data-message); /* Display the message */
  position: absolute;
  top: 100%; /* Position it just below the title */
  left: 0;
  background-color: #fff; /* Background color for the message */
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.num{
  flex:1;
  line-height: 100px;
  margin-left: 20px;
  margin-top: 66px;
}

.num p {
  font-size: 20px;
}

/*box*/
.box {
 flex:1;
 padding:60px 20px;
 margin:30px 18px;
 border: #0C479D 1px solid;
 border-radius: 30px;
 transition: background-color 0.3s;
 cursor:pointer;
}

.box:hover {
  background-color: rgb(206, 221, 255); 
}

.box h3 {
  font-size: 30px;
  text-align: center;
}

.box p {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

.container {
  display: flex;
}

/*PDF*/
.btnContainer{
  text-align: center;
  padding:50px;
}

.btnPdf{
  padding:30px 50px;
  border:none;
  cursor: pointer;
  font-size: 20px;
}

/*Footer*/
footer {
  color: #0C479D;
  background-color:#0C479D;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size:23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
 }
      
      .footer-content {
        display: flex; 
        flex-wrap: wrap; 
        width: 100%; 
      }
      
      .about,
      .contact,
      .social-media {
        flex:1;
        text-align: left; 
      }
      .about{
      margin-left:50px;
      }	
      .contact{
        margin-left:175px;  
        margin-right:100px;
      }
      .social-media{
      
        margin-left:50px;
        text-align:center;
      }
      .social-icons{
      font-size:30px;	
      text-align:center;
      }	
      footer a {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        color: #444444;
      }
      
      footer a:hover {
        background-color: white;
        background: transparent;
        color: white;
      }
 